[Unit]
Description=%SERVICE_NAME% Podman Container

[Service]
ExecStartPre=-/usr/bin/podman rm -i -f %SERVICE_NAME%
ExecStart=/usr/bin/podman run --rm --cap-add=SYS_TIME --net=host --publish 123:123/udp --name %SERVICE_NAME% %SERVICE_NAME%:latest
Restart=always
KillMode=control-group
Type=simple

[Install]
WantedBy=multi-user.target
