[Unit]
Description=%SERVICE_NAME% Podman Container

[Service]
ExecStartPre=-/usr/bin/podman rm -i -f %SERVICE_NAME%
ExecStart=/usr/bin/podman run --rm --net host --publish 69:69/udp --publish 67:67/udp --name %SERVICE_NAME%  %SERVICE_NAME%
Restart=always
KillMode=control-group
Type=simple

[Install]
WantedBy=multi-user.target
