[Unit]
Description=%SERVICE_NAME% Podman Container

[Service]
ExecStartPre=-/usr/bin/podman rm -i -f %SERVICE_NAME%
ExecStart=/usr/bin/podman run  --rm --publish 0.0.0.0:%PORT%:80 --name %SERVICE_NAME% %SERVICE_NAME%:%VERSION%
Restart=always
KillMode=control-group
Type=simple

[Install]
WantedBy=multi-user.target

